@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.header {
  background-color: #fff; /* Adjust color to match your design */
  padding: 1rem 2rem; /* Adjust padding to match your design */
  border-radius: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  margin-right: 4rem; /* Adjust spacing to match your design */
}

.navItem {
  color: #501EE5;
}

.navItem:last-child {
  margin-right: 0;
}

.navItem a {
  text-decoration: none;
  color: #000; /* Adjust link color to match your design */
  font-family: 'Sora', sans-serif;
  position: relative; /* Add this line */
}

.navItem a:hover::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust thickness as needed */
  background-color: #501EE5; /* Adjust shade color */
}


